{% extends 'layout.html' %}
{% block main %}
  <div class="form-section container" align="center">
    <h2>Konto "IT Plecak"</h2>
    <div class="media text-muted pt-3">
      <img class="mr-2 rounded" style="width: 64px; height: 64px;" src="{{ user.profile.img.url }}">
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray" >
        <strong class="d-block text-gray-dark">@{{ user.username }}</strong>
      </p>
      <b>Email:</b> {{ user.email }}
    </div><br>
    <h3 class="mt-4">Zmień informacje</h3>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ updateUserForm }}
      {{ profileForm }}
      {{ updateSexForm }} <br><br>
      <button type="submit" class="btn btn-outline-warning">Uaktualnij informacje</button>
    </form>
  </div>
{% endblock main %}
